/* External CSS */
h2{
    color:aqua;
    background-color:bisque;
}

#parag_id{
    font-size: 16px !important; /* important  önceki yazılan eziliyor*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    line-height: 1.2;
    text-align: justify;
    text-transform: capitalize;
    text-shadow: 0.1px 0.2px 0.5px blue;
    line-height: 20px;
    column-count: 2;

    -o-text-overflow: /*farklı browserlar için*/
}

.div_class{
    border:1px solid #ccc !important;
    margin: 10px 10px 10px 10px;
    margin-left:50px;

    padding: 10px 10px 10px 10px;
    padding-top:50px;
    
    box-shadow: 1px 2px 1px 4px rgba(0,0,0,.5);
    border-radius: 10%;
    border-bottom-right-radius: 40%;
}